@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');

html,
body {
    display: block;
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
    color: #666;
    background: #000;
    user-select: none;
    -webkit-user-select: none;
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

nav {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    z-index: 666;
    background: #fff;
    overflow: hidden;
    transform: translate(0,0);
    animation: nav .5s forwards ease;
    animation-delay: 1s;
}

@keyframes nav {
    from {
        padding: 0;
        transform: translate(0,0);
    }

    to {
        padding: 0 0 0 50%;
        transform: translate(-50%,0);
    }
}

div {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}

span {
    display: block;
    float: left;
    width: 100%;
    height: auto;
    padding: 0;
    opacity: 0;
    text-align: center;
    animation: text .5s forwards ease;
    transform: translate(0,40px);
    transition: all .3s ease;
}

span:nth-child(1) {
    font-family: 'Sacramento', cursive;
    font-size: 60px;
    margin: 0 0 20px 0;
    animation-delay: 1.5s;
}

span:nth-child(2) {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    animation-delay: 1.6s;
}

a {
    font-family: 'Sacramento', cursive;
    display: block;
    float: left;
    width: 100%;
    height: auto;
    padding: 0;
    color: inherit;
    margin: 20px 0 0 0;
    font-size: 40px;
    opacity: 0;
    text-align: center;
    text-decoration: none;
    animation: text .5s forwards ease;
    animation-delay: 1.7s;
    transform: translate(0,40px);
    transition: all .3s ease;
}

@keyframes text {
    from {
        opacity: 0;
        transform: translate(0,40px);
    }

    to {
        opacity: 1;
        transform: translate(0,0);
    }
}

main {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    height: auto;
    padding: 0 50% 0 0;
    margin: 0;
    z-index: 333;
    background: #fff;
    animation: main .2s forwards;
    animation-delay: .5s;
}

@keyframes main {
    from {
        padding: 0 50% 0 0;
    }

    to {
        padding: 0 0 0 50%;
    }
}

article {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

img {
    display: block;
    float: left;
    width: 50vw;
    height: 100%;
    vertical-align: middle;
}

video {
    position: relative;
    width: 50vw;
    height: 100%;
}

@media only screen and (max-width: 1000px) {

    nav {
        color: #fff;
    }

    div {
        width: 80%;
        height: 80%;
        margin: 10%;
    }

    span:nth-child(1) {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 40px;
    }

    span:nth-child(2) {
        display: none;
    }

    a {
        position: absolute;
        bottom: 0;
        left: 0;
        font-size: 40px;
    }

    @keyframes nav {
        from {
            padding: 0;
            transform: translate(0,0);
            background: #fff;
        }

        to {
            padding: 0;
            transform: translate(0,0);
            background: transparent;
        }
    }

    @keyframes main {
        from {
            padding: 0 50% 0 0;
        }

        to {
            padding: 0 0 0 0;
        }
    }


    img,
    video {
        width: auto;
        height: 100vh;
    }

}